@import url("https://fonts.cdnfonts.com/css/barletta-2");
* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body {
  background-color: #002d5a;
  min-height: 100vh;
}

#game {
  width: 100%;
  height: 100vh;
  contain: paint;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cell {
  background-color: #02b6d2;
  border: 2px solid #002d5a;
  min-width: 100px;
  max-width: 100px;
  min-height: 100px;
  max-height: 100px;
  border-collapse: collapse;
  -webkit-transition: 200ms;
  transition: 200ms;
  position: relative;
}
.cell:hover {
  background-color: #00899f;
}

.map {
  position: absolute;
  -webkit-transform: translate(-25%, -25%);
          transform: translate(-25%, -25%);
  -webkit-transition: 200ms;
  transition: 200ms;
}

#controls {
  bottom: 10px;
  right: 10px;
  position: fixed;
}
#controls div {
  cursor: pointer;
  position: absolute;
  font-size: 57.14px;
  color: #fff;
}
#controls div#left {
  bottom: 50px;
  right: 100px;
}
#controls div#right {
  bottom: 50px;
  right: 0;
}
#controls div#up {
  bottom: 100px;
  right: 50px;
}
#controls div#down {
  bottom: 0;
  right: 50px;
}
#controls div svg {
  width: 50px;
  height: auto;
  fill: #fff;
}

.ship {
  height: 100px;
  width: 100px;
  position: relative;
  -webkit-transition: all 500ms;
  transition: all 500ms;
  z-index: 100;
  border: 2px solid #dbf9c8;
  top: -2px;
  left: -2px;
  background-color: rgba(20, 184, 149, 0.25);
  pointer-events: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}
.ship .shipImg {
  min-width: 222px;
  height: 238px;
  pointer-events: none;
}
.ship .shipImg.left, .ship .shipImg.right {
  margin-bottom: -12px;
}
.ship .shipImg.up, .ship .shipImg.down {
  margin-bottom: 12px;
}
.ship .level-text {
  color: #fff;
  font-size: 2rem;
  font-weight: 800;
  font-family: "Courier New", Courier, monospace;
}

.Porto {
  width: 200px;
  height: 200px;
  position: absolute;
  z-index: 100;
}
.Porto.ovest {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
.Porto.est {
  -webkit-transform: translateX(-100px) rotate(-90deg);
          transform: translateX(-100px) rotate(-90deg);
}
.Porto.nord {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.Porto.sud {
  -webkit-transform: translateY(-100px);
          transform: translateY(-100px);
}
.Porto.attracco {
  background-color: #b86666;
}
.Porto img {
  width: 100%;
  height: 100%;
}

#shopButton {
  position: fixed;
  z-index: 3;
  right: 25px;
  top: 25px;
  color: white;
  background-color: black;
  border: 3px solid red;
  font-size: 3rem;
  font-family: "Barletta", sans-serif;
  padding: 15px;
  visibility: hidden;
  cursor: pointer;
}

.amichevole {
  border: 1px solid white;
}

.nemico {
  border: 1px solid rgb(255, 98, 98);
}

.shop-wrapper {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: auto;
}
.shop-wrapper .shop {
  background-image: url("../sprites/Repeatable_wooden_plank.png");
  position: relative;
  padding: 3%;
  z-index: 900;
  min-width: 60vw;
  min-height: 60vh;
}
.shop-wrapper .shop::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: -1;
}
.shop-wrapper .shop .shop-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.shop-wrapper .shop .shop-header h1 {
  color: #fff;
  font-size: 3em;
  font-family: "Barletta";
  width: 100%;
  text-align: center;
}
.shop-wrapper .shop .shop-header .far.fa-times-circle {
  font-size: 1.5rem;
  cursor: pointer;
}
.shop-wrapper .shop .table-wrap {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}
.shop-wrapper .shop .table-wrap #tableCommercio {
  font-size: 1.8em;
  margin: 2%;
  max-width: 65%;
}
.shop-wrapper .shop .table-wrap #tableCommercio tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.shop-wrapper .shop .table-wrap #tableCommercio tr td {
  text-align: center;
  min-width: 50px;
  width: 100%;
  padding: 2%;
}
.shop-wrapper .shop .table-wrap #tableCommercio tr td:nth-child(3) {
  min-width: 200px;
}
.shop-wrapper .shop .table-wrap #tableCommercio tr td:nth-child(1) {
  min-width: 120px;
}
.shop-wrapper .shop .table-wrap #tableCommercio .button {
  cursor: pointer;
}
.shop-wrapper .shop .table-wrap #tableCommercio .button:hover {
  color: red;
}
.shop-wrapper .shop #wrapperReparationsRange {
  height: 8px;
  padding: 2%;
  width: 100%;
  position: relative;
  background-color: #48e217;
}
.shop-wrapper .shop #reparationsRange {
  -webkit-appearance: none;
  height: 9px;
  border: none;
  position: absolute;
  right: 0;
  top: 0;
  background-color: #274eff;
}
.shop-wrapper .shop .btn {
  color: #fff;
  background-color: #000;
  font-size: 1.2em;
  padding: 1% 2.5%;
  border: 2px solid #fff;
  cursor: pointer;
  text-align: center;
}
.shop-wrapper .shop .shop-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.shop-wrapper .shop .shop-footer .bottom-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5rem;
}
.shop-wrapper .shop .shop-footer .btn {
  white-space: nowrap;
  min-width: 220px;
  min-height: 2rem;
  line-height: 3rem;
}

@media screen and (min-width: 580px) {
  .shop-wrapper .shop .shop-header h1 {
    font-size: 2.5em;
  }
  .shop-wrapper .shop .table-wrap #tableCommercio tr td {
    padding: 1.8%;
  }
  .shop-wrapper .shop .table-wrap #tableCommercio tr td:nth-child(3) {
    min-width: 140px;
  }
  .shop-wrapper .shop .table-wrap #tableCommercio tr td:nth-child(1) {
    min-width: 90px;
  }
}
#playerStats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  z-index: 900;
  padding: 20px;
  background-image: url("../sprites/Repeatable_wooden_plank.png");
  gap: 10px;
  border-radius: 10px;
  top: 10px;
  left: 10px;
}
#playerStats .stat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 5px;
  border-radius: 10px;
}
#playerStats .stat img {
  width: 30px;
  height: 30px;
}
#playerStats .stat span {
  font-size: 2rem;
  font-weight: 800;
}

#mouse-balloon {
  position: absolute;
  padding: 20px;
  background-color: #000;
  color: #fff;
  border: 3px solid red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 280px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  z-index: 900;
}
#mouse-balloon .balloon-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hpBar {
  position: relative;
  width: 200px;
  min-height: 15px;
  background-color: #c0c8d0;
  bottom: 0;
}
.hpBar::before {
  content: "";
  position: absolute;
  height: 100%;
  width: var(--hp);
}
.hpBar.green::before {
  background-color: #48e217;
}
.hpBar.yellow::before {
  background-color: #e2c917;
}
.hpBar.red::before {
  background-color: #e21717;
}/*# sourceMappingURL=style.css.map */