@import url('https://fonts.cdnfonts.com/css/barletta-2');

* {
	margin: 0;
	box-sizing: border-box;
	user-select: none;
}

body {
	background-color: #002d5a;
	min-height: 100vh;
}

#game {
	width: 100%;
	height: 100vh;
	contain: paint; //to hide the rest and save performance
}

.row {
	display: flex;
}

.cell {
	background-color: #02b6d2;
	border: 2px solid #002d5a;
	min-width: 100px;
	max-width: 100px;
	min-height: 100px;
	max-height: 100px;
	border-collapse: collapse;
	transition: 200ms;
	position: relative;

	&:hover {
		background-color: #00899f;
	}
}

.map {
	position: absolute;
	transform: translate(-25%, -25%);
	transition: 200ms;
}

#controls {
	bottom: 10px;
	right: 10px;
	position: fixed;

	div {
		cursor: pointer;
		position: absolute;
		font-size: 57.14px;
		color: #fff;

		&#left {
			bottom: 50px;
			right: 100px;
		}

		&#right {
			bottom: 50px;
			right: 0;
		}

		&#up {
			bottom: 100px;
			right: 50px;
		}

		&#down {
			bottom: 0;
			right: 50px;
		}

		svg {
			width: 50px;
			height: auto;
			fill: #fff;
		}
	}
}

.ship {
	height: 100px;
	width: 100px;
	position: relative;
	transition: all 500ms;
	z-index: 100;
	border: 2px solid #dbf9c8;
	top: -2px;
	left: -2px;
	background-color: rgba(20, 184, 149, 0.25);
	pointer-events: none;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	gap: 1rem;

	.shipImg {
		min-width: 222px;
		height: 238px;
		pointer-events: none;

		&.left,
		&.right {
			margin-bottom: -12px;
		}

		&.up,
		&.down {
			margin-bottom: 12px;
		}
	}

	.level-text {
		color: #fff;
		font-size: 2rem;
		font-weight: 800;
		font-family: 'Courier New', Courier, monospace;
	}
}

.Porto {
	width: 200px;
	height: 200px;
	position: absolute;
	z-index: 100;

	&.ovest {
		transform: rotate(90deg);
	}

	&.est {
		transform: translateX(-100px) rotate(-90deg);
	}

	&.nord {
		transform: rotate(180deg);
	}

	&.sud {
		transform: translateY(-100px);
	}

	&.attracco {
		background-color: #b86666;
	}

	img {
		width: 100%;
		height: 100%;
	}
}

#shopButton {
	position: fixed;
	z-index: 3;
	right: 25px;
	top: 25px;
	color: white;
	background-color: black;
	border: 3px solid red;
	font-size: 3rem;
	font-family: 'Barletta', sans-serif;
	padding: 15px;
	visibility: hidden;
	cursor: pointer;
}

.amichevole {
	border: 1px solid white;
}

.nemico {
	border: 1px solid rgb(255, 98, 98);
}

.shop-wrapper {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	left: 0;
	overflow-y: auto;

	.shop {
		background-image: url('../sprites/Repeatable_wooden_plank.png');
		position: relative;
		padding: 3%;
		z-index: 900;
		min-width: 60vw;
		min-height: 60vh;

		&::before {
			content: '';
			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			background-color: rgba(0, 0, 0, 70%);
			z-index: -1;
		}

		.shop-header {
			display: flex;
			justify-content: space-between;
			h1 {
				color: #fff;
				font-size: 3em;
				font-family: 'Barletta';
				width: 100%;
				text-align: center;
			}
			.far.fa-times-circle {
				font-size: 1.5rem;
				cursor: pointer;
			}
		}

		.table-wrap {
			color: #fff;
			display: flex;
			justify-content: center;
			#tableCommercio {
				font-size: 1.8em;
				margin: 2%;
				width: 65%;

				tr {
					display: flex;
					td {
						text-align: center;
						min-width: 50px;
						width: 100%;
						padding: 2%;

						&:nth-child(3) {
							background-color: #1d1d1d;
							min-width: 200px;
						}
						&:nth-child(1) {
							min-width: 120px;
						}
					}
				}

				.button {
					cursor: pointer;

					&:hover {
						color: red;
					}
				}
			}
		}
		.btn {
			color: #fff;
			background-color: #000;
			font-size: 1.2em;
			padding: 1% 2.5%;
			border: 2px solid #fff;
			cursor: pointer;
			text-align: center;
		}
		.shop-footer {
			display: flex;
			justify-content: space-between;
			align-items: flex-end;

			.bottom-right {
				display: flex;
				flex-direction: column;
				gap: 0.5rem;

				.btn {
					white-space: nowrap;
					min-width: 220px;
					min-height: 2rem;
					line-height: 3rem;
				}
			}
		}
	}
}

#playerStats {
	display: flex;
	position: fixed;
	z-index: 900;
	// height: 60px;
	padding: 20px;
	background-image: url('../sprites/Repeatable_wooden_plank.png');
	gap: 10px;
	border-radius: 10px;
	top: 10px;
	left: 10px;

	.stat {
		display: flex;
		align-items: center;
		background-color: rgb(255 255 255 / 80%);
		padding: 5px;
		border-radius: 10px;

		img {
			width: 30px;
			height: 30px;
		}

		span {
			font-size: 2rem;
			font-weight: 800;
		}
	}
}

#mouse-balloon {
	position: absolute;
	padding: 20px;
	background-color: #000;
	color: #fff;
	border: 3px solid red;
	display: flex;
	flex-direction: column;
	max-width: 280px;
	width: max-content;
	z-index: 900;

	.balloon-header {
		display: flex;
		justify-content: space-between;
	}
}

.hpBar {
	position: relative;
	width: 200px;
	min-height: 15px;
	background-color: #c0c8d0;
	bottom: 0;
	// transform: translate(-50%, -260px);

	&::before {
		content: '';
		position: absolute;
		height: 100%;
		width: var(--hp);
	}

	&.green::before {
		background-color: #48e217;
	}

	&.yellow::before {
		background-color: #e2c917;
	}

	&.red::before {
		background-color: #e21717;
	}
}
