@use 'sass:color';
@import url('https://fonts.cdnfonts.com/css/barletta-2');

//colori
$azzurro: #02b6d2;
$azzurroScuro: color.adjust($azzurro, $lightness: -10%);
// @debug
$bluScuro: color.adjust($azzurro, $blackness: 60%);

* {
	margin: 0;
	box-sizing: border-box;
	user-select: none;
}

body {
	background-color: $bluScuro;
	min-height: 100vh;
}

h1 {
	color: #fff;
	font-size: 3rem;
	font-family: 'Barletta';
	width: 100%;
	text-align: center;
	margin-bottom: 1rem;
}

h2 {
	font-size: 2rem;
	width: 100%;
	font-family: 'Courier New', Courier, monospace;
	text-align: center;
}

b {
	font-weight: 600;
}

#game {
	width: 100%;
	height: 100vh;
	contain: paint; //to hide the rest and save performance
}

.row {
	display: flex;
}

.cell {
	background-color: $azzurro;
	border: 2px solid $bluScuro;
	min-width: 100px;
	max-width: 100px;
	min-height: 100px;
	max-height: 100px;
	border-collapse: collapse;
	transition: 200ms;
	position: relative;

	&:hover {
		background-color: $azzurroScuro;
	}

	&:has(.barrel) {
		background-size: 100% 100%;
		background-position: 0px 0px;
		background-image: conic-gradient(
			from 0deg at 50% 50%,
			#ffffffff 0%,
			#ffffffff var(--perc, 100%),
			#ffffff00 var(--perc, 100%),
			#ffffff00 100%,
			#ffffff00 100%
		);
	}
}

.map {
	position: absolute;
	transform: translate(-25%, -25%);
	transition: 200ms;
}

#controls {
	bottom: 10px;
	right: 10px;
	position: fixed;

	div {
		cursor: pointer;
		position: absolute;
		font-size: 57.14px;
		color: #fff;

		&#left {
			bottom: 50px;
			right: 100px;
		}

		&#right {
			bottom: 50px;
			right: 0;
		}

		&#up {
			bottom: 100px;
			right: 50px;
		}

		&#down {
			bottom: 0;
			right: 50px;
		}

		svg {
			width: 50px;
			height: auto;
			fill: #fff;
		}
	}
}

.ship {
	height: 100px;
	width: 100px;
	position: relative;
	transition: all 500ms;
	z-index: 100;
	top: -2px;
	left: -2px;
	pointer-events: none;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	gap: 1rem;
	z-index: 300;

	&.player {
		border: 2px solid #dbf9c8;
		background-color: rgba(20, 184, 149, 0.25);
	}
	&.bot {
		border: 2px solid #f9c8c8;
		background-color: rgba(184, 20, 20, 0.25);
	}

	.shipImg {
		min-width: 150px;
		height: auto;
		pointer-events: none;

		&.left,
		&.right {
			margin-bottom: -12px;
		}

		&.up,
		&.down {
			margin-bottom: 12px;
		}
	}

	.level-text {
		color: #fff;
		font-size: 2rem;
		font-weight: 800;
		font-family: 'Courier New', Courier, monospace;
		text-align: center;
		background: rgba(0, 0, 0, 0.75);
		padding: 0 5px;
		width: max-content;
	}
	&.selected.bot {
		z-index: 500;
		.shipImg,
		.level-text,
		.hpBar {
			filter: drop-shadow(4px 0px 0px #fff) drop-shadow(0px 4px 0px #fff)
				drop-shadow(-4px 0px 0px #fff) drop-shadow(0px -4px 0px #fff);
		}
	}
}

.mouvable {
	animation: flashWhite 1.5s infinite ease-out;
	border-color: color.adjust($color: $bluScuro, $lightness: 20%);
}

.canattack::after {
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	top: -2px;
	left: -2px;
	background-color: rgb(0 221 255 / 40%);
}

@keyframes flashWhite {
	0%,
	100% {
		background-color: $azzurro;
		background-color: $azzurro;
	}

	50% {
		background-color: color.adjust($color: $azzurro, $lightness: 3%, $hue: -2);
	}
}

.Porto {
	width: 200px;
	height: 200px;
	position: absolute;
	z-index: 100;

	&.ovest {
		transform: rotate(90deg);
	}

	&.est {
		transform: translateX(-100px) rotate(-90deg);
	}

	&.nord {
		transform: rotate(180deg);
	}

	&.sud {
		transform: translateY(-100px);
	}

	&.attracco {
		background-color: #b86666;
	}

	img {
		width: 100%;
		height: 100%;
	}
}

#shopButton {
	position: fixed;
	z-index: 3;
	right: 25px;
	top: 25px;
	color: white;
	background-color: black;
	border: 3px solid red;
	font-size: 3rem;
	font-family: 'Barletta', sans-serif;
	padding: 15px;
	visibility: visible;
	cursor: pointer;
}

.amichevole {
	border: 1px solid white;
}

.nemico {
	border: 1px solid rgb(255, 98, 98);
}

.btn {
	color: #fff;
	background-color: #000;
	font-size: 1.2em;
	padding: 3px 10px;
	border: 2px solid #fff;
	cursor: pointer;
	text-align: center;
}

@mixin modal-wrapper() {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	left: 0;
	overflow-y: auto;

	#game:has(~ &) {
		filter: blur(5px);
		transition: 500ms;
	}
}

@mixin moadal-content($minwidth: 60vw, $minheight: 60vh) {
	background-image: url('../sprites/Repeatable_wooden_plank.png');
	position: relative;
	padding: 3%;
	z-index: 900;
	min-width: $minwidth;
	min-height: $minheight;
	max-width: 100vw;
	color: #fff;

	&::before {
		content: '';
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background-color: rgba(0, 0, 0, 70%);
		z-index: -1;
	}
}

.barrel-wrapper {
	@include modal-wrapper();

	.content {
		@include moadal-content(60vw, 60vh);

		display: flex;
		flex-direction: column;
		justify-content: space-between;
		text-align: center;
		align-items: center;

		.header {
			margin-bottom: 15px;
			h2 {
				span {
					@extend b;
				}
			}
		}
		.main {
			font-family: 'Courier New', Courier, monospace;
			font-size: 1.5rem;
			max-width: 70%;
			margin-bottom: 15px;

			p {
				margin-bottom: 0.5em;
			}

			.row {
				width: 100%;
				flex-wrap: wrap;
				justify-content: center;
			}

			& > .row {
				margin-bottom: 10px;
				.row {
					&:first-of-type {
						margin-bottom: 5px;

						div {
							margin: 0 5px;
							&:first-child {
								text-transform: capitalize;
								margin-left: 0;
								min-width: 73px;
							}

							&:nth-child(2),
							&:last-child {
								min-width: 15px;
							}

							&:nth-child(3) {
								min-width: 70px;
							}

							&:last-child {
								margin-right: 0;
							}
						}
					}
					&:last-of-type {
						input {
							min-width: 205px;
						}
					}
				}
			}
		}

		.footer {
			display: flex;
			justify-content: space-between;
			width: 100%;

			&:has(#confirm) {
				justify-content: center;
			}

			.btn {
				white-space: nowrap;
				min-width: 220px;
				min-height: 2rem;
				line-height: 3rem;
			}
		}
	}
}

.shop-wrapper {
	@include modal-wrapper();

	.shop {
		@include moadal-content(60vw, 60vh);

		.shop-header {
			display: flex;
			justify-content: space-between;

			.far.fa-times-circle {
				font-size: 1.5rem;
				cursor: pointer;
			}
		}

		.table-wrap {
			color: #fff;
			display: flex;
			justify-content: center;
			width: 100%;
			word-wrap: nowrap;

			#tableCommercio {
				font-size: 1.8em;
				margin: 2%;
				max-width: 65%;

				tr {
					display: flex;

					td {
						text-align: center;
						min-width: 50px;
						width: 100%;
						padding: 2%;

						&:nth-child(3) {
							min-width: 200px;
						}

						&:nth-child(1) {
							min-width: 120px;
						}
					}
				}

				.button {
					cursor: pointer;

					&:hover {
						color: red;
					}
				}
			}
		}

		#wrapperReparationsRange {
			height: 8px;
			padding: 2%;
			width: 100%;
			position: relative;
			background-color: #48e217;
		}

		#reparationsRange {
			appearance: none;
			height: 9px;
			border: none;
			position: absolute;
			right: 0;
			top: 0;
			background: linear-gradient(to right, rgb(39, 107, 255) 50%, red 50%);
		}

		#reparationsRange::-webkit-slider-thumb {
			appearance: none;

			appearance: none;
			width: 18px;
			height: 16px;
			background-image: url('../svg/hammer-solid.svg');
			cursor: pointer;
			translate: (0, 0);
		}

		#reparationsRange:-moz-range-thumb {
			width: 18px;
			height: 16px;
			background-image: url('../svg/hammer-solid.svg');
			translate: (0, 0);
			cursor: pointer;
		}

		.shop-footer {
			display: flex;
			justify-content: space-between;
			align-items: flex-end;

			.bottom-right {
				display: flex;
				flex-direction: column;
				gap: 0.5rem;
			}

			.btn {
				white-space: nowrap;
				min-width: 220px;
				min-height: 2rem;
				line-height: 3rem;
			}
		}
	}
}

.barrel {
	width: 100%;
	height: auto;
	position: relative;
	z-index: 200;
	top: 50%;
	transform: translateY(-50%);
}

#playerStats {
	display: flex;
	position: fixed;
	z-index: 900;
	// height: 60px;
	padding: 20px;
	background-image: url('../sprites/Repeatable_wooden_plank.png');
	gap: 10px;
	border-radius: 10px;
	top: 10px;
	left: 10px;

	.stat {
		display: flex;
		align-items: center;
		background-color: rgb(255 255 255 / 80%);
		padding: 5px;
		border-radius: 10px;

		img {
			width: 30px;
			height: 30px;
		}

		span {
			font-size: 2rem;
			font-weight: 800;
			font-family: 'Courier New', Courier, monospace;
		}
	}
}

#mouse-balloon {
	position: absolute;
	padding: 20px;
	background-color: #000;
	color: #fff;
	border: 3px solid red;
	display: flex;
	flex-direction: column;
	max-width: 280px;
	width: max-content;
	z-index: 900;

	.balloon-header {
		display: flex;
		justify-content: space-between;
	}
}

.hpBar {
	position: relative;
	width: 200px;
	min-height: 15px;
	background-color: #c0c8d0;
	bottom: 0;
	// transform: translate(-50%, -260px);

	&::before {
		content: '';
		position: absolute;
		height: 100%;
		width: var(--hp);
	}

	&.green::before {
		background-color: #48e217;
	}

	&.yellow::before {
		background-color: #e2c917;
	}

	&.red::before {
		background-color: #e21717;
	}
}

@media screen and (min-width: 580px) {
	.shop-wrapper {
		.shop {
			.shop-header {
				h1 {
					font-size: 2.5em;
				}
			}

			.table-wrap {
				#tableCommercio {
					tr {
						td {
							padding: 1.8%;

							&:nth-child(3) {
								min-width: 140px;
							}

							&:nth-child(1) {
								min-width: 90px;
							}
						}
					}

					.button {
					}
				}
			}

			.btn {
			}

			.shop-footer {
				.bottom-right {
				}

				.btn {
				}
			}
		}
	}
}
