@keyframes float1 {

    0%,
    100% {
        transform: rotate(-2.5deg) skew(-3deg);
    }

    50% {
        transform: rotate(2.5deg) skew(3deg);
    }
}

#barca {
    animation: float1 3s ease-in-out infinite;
}


@keyframes float2 {

    0% {
        transform: rotate(0deg) skew(0deg, 0deg);
    }

    25% {
        transform: rotate(-3deg) skew(-3deg, -1deg);
    }

    50% {
        transform: rotate(0deg) skew(0deg, 0deg);
    }

    75% {
        transform: rotate(3deg) skew(3deg, 1deg);
    }

    100% {
        transform: rotate(0deg) skew(0deg, 0deg);
    }
}

#barca {
    animation: float1 3s ease-in-out infinite;
}

#barca1 {
    animation: float2 3s ease-in-out infinite;

}

#barca2 {
    transform-origin: 50% 75%;
    animation: float1 3s ease-in-out infinite;

}

#barca3 {
    transform-origin: 50% 75%;
    animation: float2 3s ease-in-out infinite;

}